@model RavenDB_Embedded.Models.DocGia
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<span>@Model.MaLoaiDG</span><br />
<span>@Model.SoDienThoai</span><br />
