@model RavenDB_Embedded.Models.ThongTinTK

@{
    ViewData["Title"] = "ThongTinTK";
}

<h2>ThongTinTK</h2>

<h4>ThongTinTK</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ThongTinTK">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group" hidden>
                <label asp-for="TaiKhoanId" class="control-label"></label>
                <input asp-for="TaiKhoanId" class="form-control" />
                <span asp-validation-for="TaiKhoanId" class="text-danger"></span>
            </div>
            <div class="form-group" hidden>
                <label asp-for="DocGiaId" class="control-label"></label>
                <input asp-for="DocGiaId" class="form-control" />
                <span asp-validation-for="DocGiaId" class="text-danger"></span>
            </div>
            <div class="form-group" hidden>
                <label asp-for="LoaiDGId" class="control-label"></label>
                <input asp-for="LoaiDGId" class="form-control" />
                <span asp-validation-for="LoaiDGId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TenDN" class="control-label"></label>
                <input asp-for="TenDN" class="form-control" />
                <span asp-validation-for="TenDN" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MatKhau" class="control-label"></label>
                <input asp-for="MatKhau" class="form-control" />
                <span asp-validation-for="MatKhau" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HoVaTen" class="control-label"></label>
                <input asp-for="HoVaTen" class="form-control" />
                <span asp-validation-for="HoVaTen" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SoDT" class="control-label"></label>
                <input asp-for="SoDT" class="form-control" />
                <span asp-validation-for="SoDT" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Cập nhật" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>
<div style="text-align:center">
    @{
        if (ViewBag.Status == "Cập nhật thành công!")
        {
            <h4 style="color:red">@ViewBag.Status</h4>
        }
    }
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>

