@model RavenDB_Embedded.Models.PhieuMuonSach

@{
    ViewData["Title"] = "NhanSachDGTra";
}

<h2>Xác nhận trả sách</h2>

<h4>Thông báo</h4>
<hr />
<div style="text-align:center">
    <h4 style="color:red">@ViewBag.Status</h4>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>

